<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" router-link="/chambre">Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Accueil
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link"  href ="/chambre" routerLinkActive="active" >
          Chambre
        </a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" routeurLink="/reservation"> -->
          <!-- <i class="fa fa-globe">
            <span class="badge badge-success">11</span>
          </i> -->
          <!-- Vide
        </a> -->
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/reservation" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Reservation
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>